[Unit]
Description=gauge control
After=network.target auditd.service

[Service]
ExecStart=/etc/alternatives/java -jar /opt/gauge-control/gauge-control-0.0.1-SNAPSHOT.jar --spring.config.location=/etc/gauge-control.properties
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
Alias=gauge-control.service
