<h4>Gauges</h4>
<hr/>
Gauges detected: $gauges.size()
<br/>
Metrics available: <a href="/browse">$availableMetrics.size()</a>
<hr/>
<table>
	#foreach ($gauge in $gauges) 
		<form action="/" method="POST">
		<tr>
			<td>
				$gauge.name
				<br/>
				<input name="gauge" type="hidden" value="$gauge.name"/>
			</td>
			<td>
				<select name="metric">
					<option value=""></option>
					#foreach($metric in $availableMetrics) 
						<option value="$metric.name" #if ($metric.name == $gaugeRoutes.get($gauge.name).metricName) SELECTED #end>$metric.name 
							#if ($metric.lastValue) ($metric.lastValue - $metric.date) #end
						</option>											
					#end
				</select>
                <select name="scale">
                    #foreach($scale in $scales)
                        <option value="$scale" #if ($scale == $gaugeRoutes.get($gauge.name).scale) SELECTED #end >$scale</option>
                    #end
                </select>
				<input type="submit" value="set"/>				
			</td>
		</tr>
		</form>
	#end
</table>
<hr/>
